#questionView {
    display: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: hotpink;
}
#question {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: hotpink;
}
#timer-count {
    float: right;
}

#main {
    text-align: center;
    color: blue;
}

#instr {
    text-align: center;
    line-height: 1.5;
}


#choices {
    float: inline-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#startQuiz {
    align-content: center;
}

#startQuiz:hover {
    border: 3px;
    color: purple;
    cursor: pointer;
    background-color: blueviolet;
}

.choice {
    color: blue;
}
.choice:hover {
    color: purple;
    cursor: pointer;
}

#highscores {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 140, 255);
    cursor: pointer;
}

body {
    background-color: lightpink;
}